<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>%CONTROL% - %TITLE%</title>
  </head>
  <body>
    <h1>%TITLE%</h1>
    <p><em>Assertion:</em> %ASSERTION%<br/><em>Author:</em> %AUTHOR% (%EMAIL%)<br/><em>Date:</em>: %TIMESTAMP%</p>
    <div id="supporting">
      <p id="none">No supporting items</p>
    </div>
    <p>Copyright &copy; 2010 %ORGANIZATION%. <em>CONFIDENTIAL</em></p>
  </body>
</html>
